[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-dotenv = "*"
mongoengine = "*"
motor = "*"
passlib = "*"
pymongo = {extras = ["srv"], version = "*"}
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.11"
