[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-dotenv = "*"
mongoengine = "*"
motor = "*"
passlib = "*"
bcrypt = "*"
pytest = "*"
httpx = "*"
python-multipart = "*"
pymongo = {extras = ["srv"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
